{% load static %}
<div class="header">

    <div class="header-left">
        <a href="index.html" class="logo">
            <img src="{% static 'img/logo.png' %}" alt="Logo">
        </a>
        <a href="index.html" class="logo logo-small">
            <img src="{% static 'img/logo-small.png' %}" alt="Logo" width="30" height="30">
        </a>
    </div>


    <ul class="nav user-menu">
        <li class="nav-item">
            <a class="nav-link" href="#">About Us</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Register Institution</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Logout</a>
        </li>

    </ul>

</div>